<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SAMCO</display-name>
	<listener>
		<listener-class>com.msf.samco.listeners.ApplicationContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>com.msf.samco.services.init.Init</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Init</servlet-name>
		<url-pattern>/Init/Base/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Config</servlet-name>
		<servlet-class>com.msf.samco.services.config.Config</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Config</servlet-name>
		<url-pattern>/Config/Base/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TwoFactorLogin</servlet-name>
		<servlet-class>com.msf.samco.services.login.TwoFactorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwoFactorLogin</servlet-name>
		<url-pattern>/Login/TwoFactorLogin/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.msf.samco.services.logout.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/Logout/EndSession/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UnblockUser</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.UnblockUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnblockUser</servlet-name>
		<url-pattern>/LoginHelp/UnblockUser/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/LoginHelp/ForgotPassword/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotUserID</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.ForgotUserID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotUserID</servlet-name>
		<url-pattern>/LoginHelp/ForgotUserID/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.ChangePwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/LoginHelp/ChangePassword/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GuestUserLogin</servlet-name>
		<servlet-class>com.msf.samco.services.stocknotes.GuestUserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestUserLogin</servlet-name>
		<url-pattern>/StockNotes/GuestUserLogin/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SEBIRegDetails</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.GetSEBIRegNumber</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SEBIRegDetails</servlet-name>
		<url-pattern>/LoginHelp/GetSEBIRegNumber/1.0.0</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetInterestSymbols</servlet-name>
		<servlet-class>com.msf.samco.services.welcomeaboard.GetInterestedSymbols</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInterestSymbols</servlet-name>
		<url-pattern>/Welcome/GetInterestedSymbols/1.0.0</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetProfile</servlet-name>
		<servlet-class>com.msf.samco.services.welcomeaboard.SetUserProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetProfile</servlet-name>
		<url-pattern>/Welcome/SetUserProfile/1.0.0</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Get2FaQuestion</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.Get2FAQuestions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get2FaQuestion</servlet-name>
		<url-pattern>/LoginHelp/Get2FAQuestions/1.0.0</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Save2FaAnswer</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.Save2FaAnswers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save2FaAnswer</servlet-name>
		<url-pattern>/LoginHelp/Save2FaAnswers/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reset2FA</servlet-name>
		<servlet-class>com.msf.samco.services.loginhelp.Reset2FA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reset2FA</servlet-name>
		<url-pattern>/LoginHelp/Reset2FA/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetOTP</servlet-name>
		<servlet-class>com.msf.samco.services.welcomeaboard.GetOTP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetOTP</servlet-name>
		<url-pattern>/Guest/GetOTP/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetOTPVerificationStatus</servlet-name>
		<servlet-class>com.msf.samco.services.welcomeaboard.GetOTPVerificationStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetOTPVerificationStatus</servlet-name>
		<url-pattern>/Guest/GetOTPVerificationStatus/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateBasket</servlet-name>
		<servlet-class>com.msf.samco.services.stockbasket.CreateBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBasket</servlet-name>
		<url-pattern>/StockBasket/CreateBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetProductOrderPreference</servlet-name>
		<servlet-class>com.msf.samco.services.welcomeaboard.GetProductOrderPreference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProductOrderPreference</servlet-name>
		<url-pattern>/Welcome/GetProductOrderPreference/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteBasket</servlet-name>
		<servlet-class>com.msf.samco.services.stockbasket.DeleteBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBasket</servlet-name>
		<url-pattern>/StockBasket/DeleteBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyBasket</servlet-name>
		<servlet-class>com.msf.samco.services.stockbasket.ModifyBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyBasket</servlet-name>
		<url-pattern>/StockBasket/ModifyBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchBasket</servlet-name>
		<servlet-class>com.msf.samco.services.fetchbasket.SearchBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBasket</servlet-name>
		<url-pattern>/StockBasket/SearchBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FetchBaskets</servlet-name>
		<servlet-class>com.msf.samco.services.fetchbasket.FetchBaskets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FetchBaskets</servlet-name>
		<url-pattern>/StockBasket/FetchBaskets/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlaceBasketOrder</servlet-name>
		<servlet-class>com.msf.samco.services.order.PlaceBasketOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceBasketOrder</servlet-name>
		<url-pattern>/Order/PlaceBasketOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckExploreTabs</servlet-name>
		<servlet-class>com.msf.samco.services.stockbasket.CheckExploreTabs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckExploreTabs</servlet-name>
		<url-pattern>/StockBasket/CheckExploreTabs/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderReview</servlet-name>
		<servlet-class>com.msf.samco.services.order.OrderReview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderReview</servlet-name>
		<url-pattern>/Order/OrderReview/1.0.0</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateBasketFromCons</servlet-name>
		<servlet-class>com.msf.samco.services.stockbasket.CreateBasketFromCons</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBasketFromCons</servlet-name>
		<url-pattern>/StockBasket/CreateBasketFromCons/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarginValidator</servlet-name>
		<servlet-class>com.msf.samco.services.order.MarginValidator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarginValidator</servlet-name>
		<url-pattern>/Order/MarginValidator/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FixOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.FixOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FixOrder</servlet-name>
		<url-pattern>/PendingOrder/FixOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RebalanceOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.RebalanceOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RebalanceOrder</servlet-name>
		<url-pattern>/PendingOrder/RebalanceOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderHistory</servlet-name>
		<servlet-class>com.msf.samco.services.order.OrderHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderHistory</servlet-name>
		<url-pattern>/Order/OrderHistory/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderHistoryDetails</servlet-name>
		<servlet-class>com.msf.samco.services.order.OrderHistoryDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderHistoryDetails</servlet-name>
		<url-pattern>/Order/OrderHistoryDetails/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RebalanceAllOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.RebalanceAllOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RebalanceAllOrder</servlet-name>
		<url-pattern>/PendingOrder/RebalanceAllOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FixAllOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.FixAllOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FixAllOrder</servlet-name>
		<url-pattern>/PendingOrder/FixAllOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetBrokenOrders</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.GetBrokenOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBrokenOrders</servlet-name>
		<url-pattern>/PendingOrder/GetBrokenOrders/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FixRebalanceCount</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.FixRebalanceCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FixRebalanceCount</servlet-name>
		<url-pattern>/PendingOrder/FixRebalanceCount/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetRebalanceOrders</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.GetRebalanceOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRebalanceOrders</servlet-name>
		<url-pattern>/PendingOrder/GetRebalanceOrders/1.0.0</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ViewBrokenOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.ViewBrokenOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewBrokenOrder</servlet-name>
		<url-pattern>/PendingOrder/ViewBrokenOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewRebalanceOrder</servlet-name>
		<servlet-class>com.msf.samco.services.pendingorder.ViewRebalanceOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewRebalanceOrder</servlet-name>
		<url-pattern>/PendingOrder/ViewRebalanceOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddWatchListBasket</servlet-name>
		<servlet-class>com.msf.samco.services.watchlist.AddWatchListBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddWatchListBasket</servlet-name>
		<url-pattern>/WatchList/AddWatchListBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteWatchListBasket</servlet-name>
		<servlet-class>com.msf.samco.services.watchlist.DeleteWatchListBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteWatchListBasket</servlet-name>
		<url-pattern>/WatchList/DeleteWatchListBasket/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetWatchListDetails</servlet-name>
		<servlet-class>com.msf.samco.services.watchlist.GetWatchListDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWatchListDetails</servlet-name>
		<url-pattern>/WatchList/GetWatchListDetails/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetStockNotes</servlet-name>
		<servlet-class>com.msf.samco.services.quote.stocknote.GetStockNotes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStockNotes</servlet-name>
		<url-pattern>/Quote/GetStockNotes/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetStocks</servlet-name>
		<servlet-class>com.msf.samco.services.quote.stocknote.GetStocks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStocks</servlet-name>
		<url-pattern>/Quote/GetStocks/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Overview</servlet-name>
		<servlet-class>com.msf.samco.services.quote.Overview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Overview</servlet-name>
		<url-pattern>/Quote/Overview/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Payin</servlet-name>
		<servlet-class>com.msf.samco.services.payments.PayinService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Payin</servlet-name>
		<url-pattern>/Payments/Payin/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Limits</servlet-name>
		<servlet-class>com.msf.samco.services.limits.ViewLimits</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Limits</servlet-name>
		<url-pattern>/Limits/ViewLimits/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyInvestments</servlet-name>
		<servlet-class>com.msf.samco.services.investment.MyInvestments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInvestments</servlet-name>
		<url-pattern>/Investment/MyInvestments/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyInvestment</servlet-name>
		<servlet-class>com.msf.samco.services.investment.MyInvestment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInvestment</servlet-name>
		<url-pattern>/Investment/MyInvestment/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlaceAMOOrder</servlet-name>
		<servlet-class>com.msf.samco.services.order.PlaceAMOOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceAMOOrder</servlet-name>
		<url-pattern>/Order/PlaceAMOOrder/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetDashboardBaskets</servlet-name>
		<servlet-class>com.msf.samco.services.dashboard.GetDashboardBaskets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDashboardBaskets</servlet-name>
		<url-pattern>/Dashboard/GetDashboardBaskets/1.0.0</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitBasket</servlet-name>
		<servlet-class>com.msf.samco.services.order.ExitBasket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitBasket</servlet-name>
		<url-pattern>/Order/ExitBasket/1.0.0</url-pattern>
	</servlet-mapping>
</web-app>